<ul class="chat-list">
    {{#each data.chats}}
        <li class="chat-list__item">
            {{> chat-item/chat-item 
                src=this.src
                name=this.name
                message=this.message
                time=this.time
                count=this.count
            }}
        </li>
    {{/each}}
</ul>