.link-back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 64px;
  height: 100%;
  border-right: 1px solid #eaeaea;
  cursor: pointer;
}
