<main class="login-page">
    <div class="login-page__container">
        <section class="login">
            <p class="login__text">Вход</p>
            <form class="login__form">
                {{> input-item/input-item 
                    type="text" 
                    name="login" 
                    placeholder="Логин" 
                    className="input-item--login login__input-item"
                }}
                {{> input-item/input-item 
                    type="password" 
                    name="password" 
                    placeholder="Пароль" 
                    className="input-item--login login__input-item"
                }}
                <a href="/src/pages/chats-page.hbs">
                    <button type="button" class="login__button">Авторизоваться</button>
                </a>
            </form>
            <a href="/src/pages/register-page.hbs" class="login__link">Нет аккаунта?</a>
        </section>
    </div>
</main>

