{{#> index title="Мои диалоги"}}
    <main class="chats-page">
        <div class="chats-page__container">
            {{> chats/chats}}
            {{> messages/messages}}
        </div>
    </main>
{{/index}}