.chat-item {
  display: flex;
  align-items: flex-start;
  padding: 12px 10px;
  cursor: pointer;
  border-bottom: 1px solid #eaeaea;

  &:hover {
    background-color: #e4edfd;
  }

  &--active {
    background-color: #e4edfd;
    cursor: default;
  }

  &__avatar {
    margin-right: 10px;

    img {
      border-radius: 50%;
    }
  }

  &__info {
    padding-right: 27px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font: 600 13px/1.2em 'Inter', sans-serif;
    color: #1e1e1e;
    margin: 0;
    margin-bottom: 4px;
  }

  &__message {
    font: 500 12px/1.2em 'Inter', sans-serif;
    color: #999999;
    margin: 0;
  }

  &__time {
    position: absolute;
    top: 2px;
    right: 0;
    font: 500 9px/1.2em 'Inter', sans-serif;
    color: #999999;
  }

  &__count {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 20px;
    height: 20px;
    background-color: #3369f3;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font: 500 11px/1.2em 'Inter', sans-serif;
    padding: 4px 0;
  }
}
