.search-bar {
  position: relative;
  width: 100%;

  &::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 10px;
    left: 115px;
    background: url('/static/images/icons/search-icon.svg') no-repeat;
  }
}
