<main class="register-page">
    <div class="register-page__container">
        <section class="register">
            <p class="register__text">Регистрация</p>
            <form class="register__form">
                {{> input-item/input-item 
                    type="email" 
                    name="email" 
                    placeholder="Почта" 
                    className="input-item--register register__input-item"
                }}
                {{> input-item/input-item 
                    type="text" 
                    name="login" 
                    placeholder="Логин" 
                    className="input-item--register register__input-item"
                }}
                {{> input-item/input-item 
                    type="text" 
                    name="first_name" 
                    placeholder="Имя" 
                    className="input-item--register register__input-item"
                }}
                {{> input-item/input-item 
                    type="text" 
                    name="second_name" 
                    placeholder="Фамилия" 
                    className="input-item--register register__input-item"
                }}
                {{> input-item/input-item 
                    type="tel" 
                    name="phone" 
                    placeholder="Телефон" 
                    className="input-item--register register__input-item"
                }}
                {{> input-item/input-item 
                    type="password" 
                    name="password" 
                    placeholder="Пароль" 
                    className="input-item--register register__input-item"
                }}
                {{> input-item/input-item 
                    type="password" 
                    name="password-repeat" 
                    placeholder="Пароль еще раз" 
                    className="input-item--register register__input-item"
                }}
                <a href="/src/pages/chats-page.hbs">
                    <button type="button" class="register__button">Зарегистрироваться</button>
                </a>
            </form>
            <a href="/src/pages/index.hbs" class="register__link">Войти</a>
        </section>
    </div>
</main>