.chat-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__button {
    width: 100%;
    color: #fff;
    font: inherit;
    background-color: var(--primary);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    align-self: center;
    padding: 10px;
  }
}
