<ul class="messages-list">
	{{#each data.messages}}
		<li class="messages-list__item">
			{{> messages-item/messages-item
				text=this.text
				time=this.time
				from=this.from
			}}
		</li>
	{{/each}}
</ul>