<div class="profile-controls">
	<button type="button" class="profile-controls__button">Изменить данные</button>
	<a
		href="/src/pages/change-password-page.hbs"
		class="profile-controls__link"
	>Изменить пароль</a>
	<a
		href="/src/pages/index.hbs"
		class="profile-controls__link profile-controls__link--exit"
	>Выйти</a>
</div>