.input-item {
    padding: 0;
    background-color: transparent;
    border: none;
  
    &--message {
      width: 100%;
      padding: 10px 20px;
      border-radius: 30px;
      background-color: #efefef;
      font: 500 12px/1.2em 'Inter', sans-serif;
      margin: 0 10px;
    }
  
    &--search {
      width: 100%;
      background-color: #efeeef;
      font: 500 12px/1.2em 'Inter', sans-serif;
      color: #999999;
      padding: 10px 0;
      text-align: center;
      border-radius: 5px;
    }
  
    &--avatar {
      display: none;
    }
  
    &--login,
    &--register {
      padding: 7px 0;
      font: 500 12px/1.2em 'Inter', sans-serif;
      border-bottom: 1px solid #3369f3;
    }
  }
  