<div class="messages-conrols">
	{{> messages-controls/messages-clip/messages-clip}}
	{{> input-item/input-item 
		type="text" 
		name="message" 
		placeholder="Сообщение" 
		className="input-item--message"
	}}
	{{> messages-controls/messages-send/messages-send}}
</div>